# ignore everything
*

# but don't ignore files ending with slash = directories
!*/

# and don't ignore files ending with ".R"
!*.R

# and don't ignore files ending with ".r"
!*.r

# and don't ignore files ending with ".txt"
!*.txt